In [1]:
#Задание 1
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("./dz_files/dz1/movies.csv")
df1 = pd.read_csv("./dz_files/dz1/ratings.csv")
print(df)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]

In [10]:
print(df1)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [25]:
df1 = df1.merge(df,how='outer',left_on=['movieId'],right_on=['movieId'])

In [26]:
print(df1)

        userId  movieId  rating     timestamp  \
0          1.0        1     4.0  9.649827e+08
1          5.0        1     4.0  8.474350e+08
2          7.0        1     4.5  1.106636e+09
3         15.0        1     2.5  1.510578e+09
4         17.0        1     4.5  1.305696e+09
...        ...      ...     ...           ...
100849     NaN    30892     NaN           NaN
100850     NaN    32160     NaN           NaN
100851     NaN    32371     NaN           NaN
100852     NaN    34482     NaN           NaN
100853     NaN    85565     NaN           NaN

                                     title  \
0                         Toy Story (1995)
1                         Toy Story (1995)
2                         Toy Story (1995)
3                         Toy Story (1995)
4                         Toy Story (1995)
...                                    ...
100849  In the Realms of the Unreal (2004)
100850            Twentieth Century (1934)
100851           Call Northside 777 (1948)
100852        Browning Version, The (1951)
100853                  Chalet Girl (2011)

                                             genres
0       Adventure|Animation|Children|Comedy|Fantasy
1       Adventure|Animation|Children|Comedy|Fantasy
2       Adventure|Animation|Children|Comedy|Fantasy
3       Adventure|Animation|Children|Comedy|Fantasy
4       Adventure|Animation|Children|Comedy|Fantasy
...                                             ...
100849                        Animation|Documentary
100850                                       Comedy
100851                        Crime|Drama|Film-Noir
100852                                        Drama
100853                               Comedy|Romance

[100854 rows x 6 columns]

In [42]:
df1.loc[df1['rating'] == 5.0].drop_duplicates(['title'])

,userId,movieId,rating,timestamp,title,genres
9,31.0,1,5.0,8.504666e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
216,6.0,3,5.0,8.455543e+08,Grumpier Old Men (1995),Comedy|Romance
269,11.0,6,5.0,9.021543e+08,Heat (1995),Action|Crime|Thriller
369,1.0,47,5.0,9.649838e+08,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
572,1.0,50,5.0,9.649829e+08,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100761,610.0,96832,5.0,1.479545e+09,Holy Motors (2012),Drama|Fantasy|Musical|Mystery|Sci-Fi
100773,610.0,100906,5.0,1.479543e+09,Maniac Cop 2 (1990),Action|Horror|Thriller
100787,610.0,107771,5.0,1.479544e+09,Only Lovers Left Alive (2013),Drama|Horror|Romance
100802,610.0,115727,5.0,1.479544e+09,Crippled Avengers (Can que) (Return of the 5 D...,Action|Adventure
100815,610.0,138632,5.0,1.479545e+09,Tokyo Tribe (2014),Action|Crime|Drama|Sci-Fi

In [43]:
#Задание2

In [45]:
df2 = pd.read_csv("./dz_files/dz2/power.csv")
print(df2)

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [46]:
filtered_data = df2[
    df2['country'].isin(['Latvia', 'Lithuania', 'Estonia']) & 
    df2['category'].isin([4, 12, 21]) & 
    (df2['year'] >= 2005) & 
    (df2['year'] <= 2010) & 
    (df2['quantity'] >= 0)
]

In [47]:
total_consumption = filtered_data['quantity'].sum()

In [48]:
print('Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год: ', total_consumption)

Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год:  240580.0